<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button id="main-content"></ion-menu-button>
    </ion-buttons>

    <ion-title>TUS RESERVAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">





  <ion-grid>

    <ion-row *ngIf="!bookings.length">
      <ion-col>
        <h1> No tienes ninguna reserva </h1>
      </ion-col>
    </ion-row>
    <ion-row  *ngIf="bookings.length">
      <ion-col size-md="6" offset-md="3">
        <ion-list>

          <ion-item-sliding *ngFor="let book of bookings" #slidingBooking>

            <ion-item>
              <ion-label>
                <h5>{{book.placeTitle}}</h5>
                <h6> Pax: {{book.guests}}</h6>
                <p>{{book.dateFrom | date:"dd-MM-yyyy"}}</p>
                <p>{{book.dateTo | date:"dd-MM-yyyy"}}</p>
              </ion-label>

            </ion-item>



          <ion-item-options>
            <ion-item-option color="danger">
              <ion-icon
              slot="icon-only"
               name="trash"
               (click)="onCancelBooking(book.id, slidingBooking)"></ion-icon>

            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>




</ion-content>
