<ion-header>
  <ion-toolbar>
    <ion-title>auth</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-row >

    <ion-col size="12" sizeSm="8" offsetSm="2" class="ion-tex-center">

  <ion-item>
    <ion-label position="floating"> email</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" > contraseña</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <ion-button class="ion-padding" color="primary" (click)="login()"> registrate
    </ion-button>

  </ion-col>

  </ion-row>


</ion-content>
