<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Descubre tu estancia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> -->

<ion-tabs>


  <ion-tab-bar slot="bottom" color="tertiary">

    <ion-tab-button tab="discover">
      <ion-label color="primary">Descubre</ion-label>
      <ion-icon name="search" ></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="offers">
      <ion-label color="primary">Ofertas</ion-label>
      <ion-icon name="card"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<!-- </ion-content> -->
