<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/discover"></ion-back-button>
    </ion-buttons>
    <ion-title>{{place.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-img [src]="place.imagen" class="ion-padding"></ion-img>

  <ion-row >
 <ion-col size="8" offset="2">
  {{place.description}}
 </ion-col>

  </ion-row >
  <ion-row  >
    <ion-col size="6" offset="4">
     {{place.price}}  euros/noche
    </ion-col>

     </ion-row>


  <!-- <ion-button color="primary" margin (click)="onBookPlace()">Reservar</ion-button>  -->

  <ion-button class="ion-padding" color="primary" margin id="open-modal">Reservar</ion-button>
  <ion-modal #modal trigger="open-modal" >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Reservado</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>Enhorabuena, pronto disfrutarás de tu estancia en </p>
        <h3>{{place.title}}</h3>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
